:root {
    --primary-text-color: #4D5AE5;
    --primary-fon-color: #FFFFFF;
    --color-section-logo: #F4F4FD;
    --color-body-text: #2E2F42;
    --color-footer-text: #E7E9FC;
    --color-mail-tel-p-text: #434455;
    --color-active: rgba(77, 90, 229, 0.2);
    --color-border: #F4F4FD;
    --color-company: #8E8F99;
    --color-green-footer: #31D0AA;
}

body {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-body-text);
    background-color: var(--primary-fon-color);
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

a {
    text-decoration: none;
    color: var(--color-body-text);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* hover/:focus/:active */
a:hover,
a:focus {
    color: var(--primary-text-color);
}

a:active {
    color: var(--color-active);
}

ul {
    list-style-type: none;
    display: inline-flex;
}

/*------------header-------------*/
.header {
    border-bottom: 0.5px outset var(--color-border);
}

.nav-contact {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
}

/* логотип */
.logo-header {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    text-transform: uppercase;
    margin-right: 77px;
}

/* цвет логотипа Web */
span {
    color: var(--primary-text-color);
}

/* ссылки на страницы */
.link-navigation {
    margin-right: 40px;
    position: relative;
}

/* corrent - header подчеркивание текста текушей страницы */
.corrent::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    top: 45px;
    left: 0;
    background-color: var(--primary-text-color);
    border-radius: 2px;
    transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* corrent - header выделение (цвет) текста текушей страницы */
.corrent {
    color: var(--primary-text-color);
}

li:last-child {
    margin-right: 0px;
}

/* contact меил и телефон */
.contact {
    list-style-type: none;
    margin-left: auto;
}

.contact-list {
    font-weight: 400;
    margin-right: 40px;
}

.contact-list:hover {
    fill: var(--primary-text-color);
}

.contact-icon {
    display: flex;
    align-items: center;
}

.icon-contact {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/*----------main для index.html----------*/
.section-block {
    background-color: var(--color-body-text);
    padding-top: 192px;
    padding-bottom: 192px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.7), rgba(47, 48, 58, 0.7)),
    url(../images/people-office\ 1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* заголовок H1 */
.title {
    width: 492px;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 48px;
    color: var(--primary-fon-color);
}

/* кнопка  */
button {
    background-color: var(--primary-text-color);
    color: var(--primary-fon-color);
    cursor: pointer;
    font-weight: 600;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover,
button:focus {
    background-color: var(--color-section-logo);
    color: var(--primary-text-color);
}

.button-main {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 170px;
    height: 51px;
    border: none;
    border-radius: 4px;
}

/* < !-- Section 1 --> */
.section1 {
    margin-top: 120px;
    height: 224px;
}

.feature-list {
    list-style-type: none;
    display: block;
    margin-right: 24px;
}

.feature-list::before {
    display: inline-block;
    content:'';
    height: 112px;
    width: 264px;
    height: 104px;
    background-color: var(--color-border);
    background-repeat: no-repeat;
    background-position: center;
}

.icon-antenna::before {
    background-image: url(../images/antenna-1.svg);
}

.icon-clock::before {
    background-image: url(../images/clock-1.svg);
}

.icon-diagram::before {
    background-image: url(../images/diagram-1.svg);
}

.icon-astronaut::before {
    background-image: url(../images/astronaut-1.svg);
}

.feature-list:last-child {
    padding-right: 0;
    margin-right: 0;
}

/* slogan --- p */
.slogan-section1 {
    color: var(--color-mail-tel-p-text);
    font-weight: 400;
    line-height: 24px;
    margin-top: 8px;
}

/* < !-- Section 2 --> */
.section2 {
    margin-top: 120px;
    padding-bottom: 120px;
}

.link-section2 {
    list-style-type: none;
    display: flex;
    justify-content:space-between;
}

.link-section2-image {
    height: 300px;
    border: 1px solid var(--color-footer-text);
}

/* text H2 */
.title-text-2 {
    margin-bottom: 72px;
    text-align: center;
    font-weight: 600;
    font-size: 36px;
}

/* < !-- Section 3 --> */
.section3 {
    text-align: center;
    background-color: var(--color-section-logo);
    height: 788px;
    padding-top: 120px;
}

/* text H2 */
.title-text-3 {
    margin-bottom: 72px;
    font-size: 36px;
    font-weight: 600;
}

.list-photo {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-right: 24px;
    border: 0.5px outset var(--color-border);
    background-color: var(--primary-fon-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.list-photo :last-child {
    margin-right: 0;
}

.name-slogan {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-right: 16px;
    padding-left: 16px;
}

.name-slogan:last-child {
    padding-right: 0;
}

/* H3 -- name */
.name {
    margin-bottom: 8px;
}

.slogan-section3 {
    color: var(--color-mail-tel-p-text);
    font-weight: 400;
    line-height: 24px;
}

/* social-section3 */
.social-icon-section3 {
    width: 232px;
    height: 48px;
    display: flex;
    margin-top: 8px;
    gap: 24px;
}

.social-section3 {
    height: 48px;
    margin-top: 8px;
    /* margin-right: 24px; */
}

.icon-section3 {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--primary-text-color);
    /* background-color: rgba(255, 255, 255, 0.1); */
}

.icon-section3:hover,
.icon-section3:focus {
    background-color: var(--color-green-footer);
}

/* < !-- Section Customers --> */
.section-customers {
    height: 202px;
    margin-top: 120px;
    margin-bottom: 120px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.title-text-customers {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    height: 42px;
    margin-bottom: 72px;
}

.customers {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.item-customers {
    display: flex;
    width: 168px;
    height: 88px;
    border: 1px solid var(--color-company);
    border-radius: 4px;
    fill: var(--color-company);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-customers {
    width: 104px;
    height: 56px;
    margin-top: 16px;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 16px;
}

.item-customers:hover {
    fill: var(--primary-text-color);
}

.item-customers:hover {
    border: 1px solid var(--primary-text-color);
}

/*-------------footer------------*/
.footer {
    background-color: var(--color-body-text);
    height: 310px;
    display: flex;
}

/* логотип */
.logo-footer {
    color: var(--color-section-logo);
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    text-transform: uppercase;
    display: block;
    margin-top: 100px;
}

.text-footer {
    color: var(--color-footer-text);
    line-height: 24px;
    padding-top: 16px;
    width: 264px;
}

/* Social */
.social {
    width: 208px;
    height: 80px;
    font-weight: 600;
    margin-top: 100px;
    margin-left: 120px;
}

.social-text {
    width: 96px;
    height: 24px;
    color: var(--primary-fon-color);
}

.social-icon {
    display: flex;
    margin-top: 16px;
}

.social-link {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    margin-right: 16px;
}

.social-link:hover,
.social-link:focus{
    background-color: var(--color-green-footer);
}

/* < !-- Subscribe --> */
.subscribe {
    width: 456px;
    height: 80px;
    margin-top: 100px;
    margin-left: 80px;
}

.subscribe-text{
    width: 75px;
    height: 24px;
    color: var(--primary-fon-color);
}

.subscribe-form {
    display: flex;
    padding-top: 16px;
    background-color: var(--color-body-text);
}

.subscribe-email {
    width: 264px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding-left: 16px;
    background-color: var(--color-body-text);
    color: var(--primary-fon-color);
}

.subscribe-email::placeholder {
    color: rgba(255, 255, 255, 0.6);
    /* color: var(--primary-fon-color); */
}

.subscribe-button {
    display: flex;
    align-items: center;
    padding-left: 24px;
    margin-left: 24px;
    width: 168px;
    height: 40px;
    background: var(--primary-text-color);
    border-radius: 4px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
}

.subscribe-icon {
    margin-left: 16px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--primary-fon-color);
}

.subscribe-button:hover .subscribe-icon {
    fill: var(--primary-text-color);
}


/*--------main для portfolio.html----------*/
/* Filters - кнопки button  */
.button-filters {
    display: flex;
    justify-content: center;
    padding-top: 96px;
    padding-bottom: 72px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.li-button:hover {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.list:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-link {
    border: 1px solid var(--color-footer-text);
    border-radius: 4px;
}

li .portfolio-link {
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
}

.li-button {
    margin-right: 24px;
}

/* < !-- Section --> */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    padding-bottom: 120px;
}

.list {
    margin-bottom: 48px;
    list-style-type: none;
    border: 0.5px outset var(--color-border);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.list-item {
    width: 360px;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.list:nth-last-child(-n + 3) {
    margin: 0;
}

/* p slogan text */
.slogan-text {
    position: absolute;
    top: 40px;
    left: 32px;
    width: 296px;
    height: 96px;
    content: "";
    opacity: 0;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--color-border);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* H3 ---- subtitle */
.subtitle {
    margin-top: 32px;
    margin-bottom: 8px;
    margin-left: 16px;
}

/* slogan --- p */
.slogan {
    color: var(--color-mail-tel-p-text);
    font-weight: 400;
    line-height: 24px;
    margin-left: 16px;
    margin-bottom: 32px; 
}

/* -----overflow------ */
.list-item::before {
    position: absolute;
    display: inline-block;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(77, 90, 229);
    opacity: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-item:hover:before {
    opacity: 1;
    transform: translateY(0);
}

.list-item:hover .slogan-text {
    opacity: 1;
    transform: translateY(0);
}

/* -----backdrop -----*/ 
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* modal модельное окно */
.modal {
    position: absolute;
    content: "";
    width: 408px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.2);
}

.icon-modal {
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    left: 360px;
    top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    background-color: var(--color-footer-text);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

/* ----form modal----- */
.form-modal {
    padding-right: 24px;
    padding-left: 24px;
}

form label {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 14px;
    color: var(--color-company);
    letter-spacing: 0.01em;
}

.name-phone-email-comment:hover {
    fill: var(--primary-text-color);
}
input {
    outline: none;
}

form input {
    width: 360px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 35px;
}

input:hover {
    border: 1px solid var(--primary-text-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
    position: absolute;
    top: 26px;
    left: 16px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
    width: 360px;
    text-align: center;
    margin-top: 72px;
    margin-bottom: 16px;
    color: var(--color-body-text)
}

.name-phone-email-comment {
    position: relative;
    display: flex;
    flex-direction: column;
}

textarea {
    width: 360px;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

textarea:hover {
    border: 1px solid var(--primary-text-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.madal-meta {
    margin-bottom:24px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #757575;
    display: flex;
    align-items: center;
}

/* скрыть checkbox */
.checkbox-input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: O;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.checkbox-label {
    display: flex;
    margin-top: 16px;
}

.checkbox-label::before {
    content: "";
    width: 16px;
    height: 16px;
    border: 1.25px solid var(--color-body-text);
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
}

.checkbox-input:checked + .checkbox-label::before {
    background-color: var(--primary-text-color);
    border: 1.25px solid var(--primary-text-color);
    border-radius: 2px;
    border: none;
    background-image: url(../images/Vector-Checkbox.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.madal-submit {
    display: block;
    margin-right: auto;
    margin-bottom: 24px;
    margin-left: auto;
    width: 170px;
    height: 51px;
    background: var(--primary-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
    /* outline: none; */
}